html
{
    box-sizing: border-box;
    font-size: 62.5%; /** RESET PARA REMS = 10px de 16px **/
                        /** Por defecto un rem son 16px **/
}
*, *:before, *:after {
    box-sizing: inherit;
  }     

/** Esto va a ser para todo el cuerpo de la pagina **/

body
{
    background: #ffffff;
    /* background: #eae2e0; */
    font-family: 'Lato', sans-serif; /** Tipo de fuente tomada de las opciones de google**/
    font-size: 1.6rem;
    line-height: 2;
}

/* Colores del logo*/
.colores{
    color: #f03b35;
    color: #040404;
    color: #eae2e0;
    color: #571c1b;
}

/*Globales*/ 
img{
    max-width: 100%;
}
.contenedor
{
    width: 95%;
    max-width: 120rem; /** = a 1200px **/
    margin: 0 auto 0 auto;
}

h1{
    font-size: 3.8rem;
}

h2{
    font-size: 3.4rem;
}

h3{
    font-size: 3rem;
}

h4{
    font-size: 2.3rem;
}

a{
    text-decoration: none;
}

/* Utilidades */

.centrar-texto
{
    text-align: center;
}

.boton {
    display: inline-block;
    flex: 0 0 auto; 
    padding: 8px 13px;
}
.boton:hover
{
    cursor: pointer;
}
.boton-negro{
    background-color: #040404;
}
.boton-rojo{
    background: #f03b35;
    
}


/*    INDEX    */
.barra-header
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2em;
}
.barra-header a{
    color: #ffffff;
    font-weight: 400;
    text-shadow: 1px 1px 1px #d35158;
    font-family: 'Lobster', cursive;
    font-size: 2.6rem;
}
.barra-header a:hover{
    color: #d35158;
    text-shadow: 1px 1px 1px #fff2f2;
    cursor: pointer; 
}
.site-header{
    background-image: url(../Img/destacada.jpg);
    background-position: center center; 
    background-size: cover;
    height: 100vh;
    min-height: 65.7rem; /** = a 600px **/
}
.contenido-header
{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.titulos{
    font-family: 'Salsa', cursive;
    text-align: center;
    font-weight: 700;
    font-size: 4.6rem;
    color: #D51D1D;
}
.inmuebles{
    width: 100%;
    border: 1px solid #C6C5C5;
    /* padding: 5px 0 10px 5px ; */
    margin: 20px 0;
}
.inmuebles blockquote{
    font-family: 'Salsa', cursive;
    font-weight: 400;
    font-size: 2.5rem;
    margin: 20px 0 10px 10px;
}
.inmuebles:last-of-type{
    margin-bottom: 0;
}
/* .inmuebles img{
    width: 50%;
    margin: 0 auto;
} */

.flex{
    display: flex;
}
.inmuebles-iz{
    width: calc(50% - 1rem);
    padding: 0px 10px;
}
.inmuebles-der{
    width: calc(50% - 1rem);
    padding: 0px 10px;
}
.inmuebles-der p{
    margin-top: 0;
}

.site-footer
{
    background-color: #333333;
    margin: 0;
}

.barra-footer
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2em;
}
.barra-footer a{
    color: #ffffff;
    font-weight: 400;
    text-shadow: 1px 1px 1px blanchedalmond;
    font-size: 2.6rem;
}
.barra-footer a:hover{
    color: #d35158;
    text-shadow: 1px 1px 1px #fff2f2;
    cursor: pointer; 
}

/* CREAR SESION   */

.formulario{
    color: #333333;
    /* background-color: #F7F1F1; */
}
.formulario legend{
    font-family: 'salsa' 'cursive';
    font-size: 2.5rem;
}
.formulario fieldset a{
    float: right;
}
/* .formulario a{
    display: flex;
} */

.contenido-centrado
{
    max-width: 800px;
}

legend{
    font-size: 2.4rem;
}

label{
    display: block;
    font-weight: 700;
    text-transform: uppercase;
}

input:not([type="submit"]),
textarea,
select /* a mi me funciona solo con esto*/
{
    padding: 1rem;
    display: block;
    width: 100%;
    background-color: #e1e1e1;
    margin-bottom: 2rem;
    border: none;
    border-radius: 1rem;
}

input[type="submit"]{
    margin: 20px 0;
    color: #ffffff;
    text-shadow: 1px 1px 1px #d35158;
    font-family: 'Lobster', cursive;
    font-size: 2rem;
}
